In [211]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Importamos los datos sobre hechos y víctimas de los archivos `homicidios.xlsx` y `lesiones.xlsx`

In [212]:
homicidios_hechos = pd.read_excel('Datasets\homicidios.xlsx', sheet_name="HECHOS")
homicidios_victimas = pd.read_excel('Datasets\homicidios.xlsx', sheet_name="VICTIMAS")
lesiones_hechos = pd.read_excel('Datasets\lesiones.xlsx', sheet_name="HECHOS")
lesiones_victimas = pd.read_excel('Datasets\lesiones.xlsx', sheet_name="VICTIMAS")

Visualizamos los DataFrames

In [213]:
homicidios_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [214]:
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [215]:
homicidios_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [216]:
homicidios_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [217]:
lesiones_hechos.head()

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,latutid,victima,acusado,participantes,moto,auto,transporte_publico,camion,ciclista,gravedad
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,-34.559658,CICLISTA,SD,CICLISTA-SD,SD,SD,SD,SD,x,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,-34.669125,AUTO,SD,AUTO-SD,SD,x,SD,SD,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,...,-34.677556,SD,SD,SD-SD,SD,SD,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,...,-34.647349,PEATON,SD,PEATON-SD,x,SD,SD,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,...,-34.604579,AUTO,SD,AUTO-SD,SD,SD,x,SD,SD,SD

In [218]:
lesiones_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23785 entries, 0 to 23784
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     23785 non-null  object
 1   n_victimas             23785 non-null  int64
 2   aaaa                   23785 non-null  int64
 3   mm                     23785 non-null  int64
 4   dd                     23785 non-null  int64
 5   fecha                  23785 non-null  object
 6   hora                   23785 non-null  object
 7   franja_hora            23780 non-null  object
 8   direccion_normalizada  23732 non-null  object
 9   comuna                 23616 non-null  object
 10  tipo_calle             23785 non-null  object
 11  otra_direccion         23785 non-null  object
 12  calle                  12867 non-null  object
 13  altura                 12771 non-null  float64
 14  cruce                  9407 non-null   object
 15  geocodificacion_CABA   23746 non-null  object
 16  longitud               23523 non-null  object
 17  latutid                23523 non-null  object
 18  victima                23785 non-null  object
 19  acusado                23785 non-null  object
 20  participantes          23785 non-null  object
 21  moto                   23692 non-null  object
 22  auto                   23692 non-null  object
 23  transporte_publico     23692 non-null  object
 24  camion                 23692 non-null  object
 25  ciclista               23692 non-null  object
 26  gravedad               23785 non-null  object
dtypes: float64(1), int64(4), object(22)
memory usage: 4.9+ MB

In [219]:
lesiones_victimas.head()

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD
1,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD
2,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD
3,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD
4,LC-2019-0000082,2019,1,1,2019-01-01,sd,Mujer,45,SD

In [220]:
lesiones_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID hecho          27605 non-null  object
 1   AAA               27605 non-null  int64
 2   MM                27605 non-null  int64
 3   DD                27605 non-null  int64
 4   FECHA             27605 non-null  datetime64[ns]
 5   VEHICULO_VICTIMA  27605 non-null  object
 6   SEXO              27605 non-null  object
 7   EDAD_VICTIMA      27605 non-null  object
 8   GRAVEDAD          27605 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.9+ MB

### `homicidios_hechos`

In [221]:
# Convertimos los valores de la columna 'comuna' al tipo 'category'. Ya que, aunque sean valores numéricos, no indican no son variables cuantitativas sino nominales.
homicidios_hechos['COMUNA'] = homicidios_hechos['COMUNA'].astype('category')

# Reemplazamos los valores '.' de la columnas 'pos x' y 'pos y' por valores vacíos
homicidios_hechos['pos x'].replace('.', np.nan, inplace=True)
homicidios_hechos['pos y'].replace('.', np.nan, inplace=True)

# Convertimos los valores de las columnas 'pos x' y 'pos y' de coordenadas a formato numérico
homicidios_hechos['pos x'] = pd.to_numeric(homicidios_hechos['pos x'])
homicidios_hechos['pos y'] = pd.to_numeric(homicidios_hechos['pos y'])

# Reemplazamos los valores 'SD' por valores vacíos
homicidios_hechos = homicidios_hechos.replace('SD', pd.NA)

# Cambiamos el nombre de las columnas
homicidios_hechos = homicidios_hechos.rename(columns = {'Calle': 'CALLE', 'Altura': 'ALTURA', 'Cruce': 'CRUCE', 'Dirección Normalizada': 'DIRECCION_NORMALIZADA', 'XY (CABA)': 'GEOCODIFICACION', 'pos x': 'LONGITUD', 'pos y': 'LATITUD'})

print(homicidios_hechos.dtypes)

ID                               object
N_VICTIMAS                        int64
FECHA                    datetime64[ns]
AAAA                              int64
MM                                int64
DD                                int64
HORA                             object
HH                               object
LUGAR_DEL_HECHO                  object
TIPO_DE_CALLE                    object
CALLE                            object
ALTURA                          float64
CRUCE                            object
DIRECCION_NORMALIZADA            object
COMUNA                         category
GEOCODIFICACION                  object
LONGITUD                        float64
LATITUD                         float64
PARTICIPANTES                    object
VICTIMA                          object
ACUSADO                          object
dtype: object

In [222]:
# Creamos una funcion que crea una nueva columna llamada 'DENTRO_CABA'. Los datos asumen valores booleanos de acuerdo a si las coordenadas estan dentro de los límites de la ciudad
def dentro_caba(df):
    limite_superior_latitud = -34.5
    limite_inferior_latitud = -34.9
    limite_izquierdo_longitud = -58.6
    limite_derecho_longitud = -58.3

    df['DENTRO_CABA'] = (
        (df['LATITUD'] >= limite_inferior_latitud) &
        (df['LATITUD'] <= limite_superior_latitud) &
        (df['LONGITUD'] >= limite_izquierdo_longitud) &
        (df['LONGITUD'] <= limite_derecho_longitud)
    )

# Aplicamos la función al DataFrame 'homicidios_hechos'
dentro_caba(homicidios_hechos)

# Filtramos el DataFrame para mantener solo las filas dentro de la CABA
homicidios_hechos = homicidios_hechos[homicidios_hechos['DENTRO_CABA']]

# Eliminamos las columna 'DENTRO_CABA', 'GEOCODIFICACION' y 'PARTICIPANTES'
homicidios_hechos.drop(columns=['DENTRO_CABA'], inplace=True)
homicidios_hechos.drop(columns=['GEOCODIFICACION'], inplace=True)
homicidios_hechos.drop(columns=['PARTICIPANTES'], inplace=True)

# Reindexamos
homicidios_hechos.reset_index(drop=True, inplace=True)

In [223]:
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     684 non-null    object
 1   N_VICTIMAS             684 non-null    int64
 2   FECHA                  684 non-null    datetime64[ns]
 3   AAAA                   684 non-null    int64
 4   MM                     684 non-null    int64
 5   DD                     684 non-null    int64
 6   HORA                   683 non-null    object
 7   HH                     683 non-null    object
 8   LUGAR_DEL_HECHO        684 non-null    object
 9   TIPO_DE_CALLE          684 non-null    object
 10  CALLE                  684 non-null    object
 11  ALTURA                 129 non-null    float64
 12  CRUCE                  525 non-null    object
 13  DIRECCION_NORMALIZADA  684 non-null    object
 14  COMUNA                 684 non-null    category
 15  LONGITUD               684 non-null    float64
 16  LATITUD                684 non-null    float64
 17  VICTIMA                676 non-null    object
 18  ACUSADO                664 non-null    object
dtypes: category(1), datetime64[ns](1), float64(3), int64(4), object(10)
memory usage: 97.7+ KB

In [224]:
# Vemos qué valores pueden asumir algunas columnas
valores_unicos1 = homicidios_hechos['N_VICTIMAS'].dropna().unique()
print(valores_unicos1)
valores_unicos2 = homicidios_hechos['COMUNA'].dropna().unique()
print(valores_unicos2)
valores_unicos3 = homicidios_hechos['VICTIMA'].dropna().unique()
print(valores_unicos3)
valores_unicos4 = homicidios_hechos['ACUSADO'].dropna().unique()
print(valores_unicos4)

[1 2 3]
[8, 9, 1, 11, 15, ..., 14, 10, 6, 2, 5]
Length: 15
Categories (16, int64): [0, 1, 2, 3, ..., 12, 13, 14, 15]
['MOTO' 'AUTO' 'PEATON' 'CARGAS' 'BICICLETA' 'PASAJEROS' 'MOVIL'
 'OBJETO FIJO' 'PEATON_MOTO']
['AUTO' 'PASAJEROS' 'OBJETO FIJO' 'CARGAS' 'MOTO' 'MULTIPLE' 'OTRO'
 'BICICLETA' 'TREN']

In [225]:
# Cambiamos los valores que no deben estar en la columna
homicidios_hechos.replace('PEATON_MOTO', 'PEATON', inplace=True)

In [226]:
homicidios_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,CALLE,ALTURA,CRUCE,DIRECCION_NORMALIZADA,COMUNA,LONGITUD,LATITUD,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.475340,-34.687570,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.508775,-34.669777,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,2034.0,NaN,ENTRE RIOS AV. 2034,1,-58.390403,-34.631894,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,-58.465039,-34.680930,MOTO,<NA>
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,-58.387183,-34.622466,MOTO,PASAJEROS

### `homicidios_victimas`

In [227]:
# Reemplazamos los valores 'SD' por valores vacíos
homicidios_victimas['FECHA_FALLECIMIENTO'].replace('SD', pd.NaT, inplace=True)

# Convertimos el tipo de dato de la columna 'FECHA_FALLECIMIENTO' a 'datetime64[ns]'
homicidios_victimas['FECHA_FALLECIMIENTO'] = homicidios_victimas['FECHA_FALLECIMIENTO'].astype('datetime64[ns]')

# Reemplazamos los valores 'SD' por valores vacíos
homicidios_victimas = homicidios_victimas.replace('SD', pd.NA)

# Convertimos las edades a formato numérico
homicidios_victimas['EDAD'] = pd.to_numeric(homicidios_victimas['EDAD'])

# Cambiamos el nombre a la columna 'ROL', 'SEXO' y 'EDAD'
homicidios_victimas = homicidios_victimas.rename(columns = {'ROL': 'ROL_VICTIMA', 'SEXO': 'SEXO_VICTIMA', 'EDAD': 'EDAD_VICTIMA'})


print(homicidios_victimas.dtypes)

ID_hecho                       object
FECHA                  datetime64[ns]
AAAA                            int64
MM                              int64
DD                              int64
ROL_VICTIMA                    object
VICTIMA                        object
SEXO_VICTIMA                   object
EDAD_VICTIMA                  float64
FECHA_FALLECIMIENTO    datetime64[ns]
dtype: object

In [228]:
homicidios_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL_VICTIMA          706 non-null    object
 6   VICTIMA              708 non-null    object
 7   SEXO_VICTIMA         711 non-null    object
 8   EDAD_VICTIMA         664 non-null    float64
 9   FECHA_FALLECIMIENTO  649 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(4)
memory usage: 56.1+ KB

In [229]:
homicidios_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL_VICTIMA,VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19.0,2016-01-01
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70.0,2016-01-02
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30.0,2016-01-03
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18.0,NaT
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29.0,2016-02-01

### `lesiones_hechos`

In [230]:
# Reemplazamos los valores 'SD' de la columna 'comuna' por valores vacíos
lesiones_hechos['comuna'].replace('No Especificada', np.nan, inplace=True)
lesiones_hechos['comuna'].replace('SD', np.nan, inplace=True)

# Convertimos los valores de la columna 'comuna' a formato float, completamos los valores 'NaN' con ceros y lo pasamos a formato entero
lesiones_hechos['comuna'] = pd.to_numeric(lesiones_hechos['comuna'])
lesiones_hechos.fillna(0, inplace=True)
lesiones_hechos['comuna'] = lesiones_hechos['comuna'].astype(int)

# Convertimos los valores de la columna 'comuna' al tipo 'category'. Ya que, aunque sean valores numéricos, no indican no son variables cuantitativas sino nominales.
lesiones_hechos['comuna'] = lesiones_hechos['comuna'].astype('category')

# Cambiamos el nombre de la columna 'latutid' por 'latitud'
lesiones_hechos = lesiones_hechos.rename(columns={'latutid': 'latitud'})

# Reemplazamos los valores 'SD' de las columnas 'longitud' y 'latitud' por valores vacíos
lesiones_hechos['longitud'].replace('SD', np.nan, inplace=True)
lesiones_hechos['latitud'].replace('SD', np.nan, inplace=True)

# Convertimos los valores de las columnas 'longitud' y 'latitud' a formato numérico
lesiones_hechos['longitud'] = pd.to_numeric(lesiones_hechos['longitud'])
lesiones_hechos['latitud'] = pd.to_numeric(lesiones_hechos['latitud'])

# Eliminamos las columnas 'participantes', 'moto', 'auto', 'transporte_publico', 'camion' y 'ciclista', porque indican participación de ese tipo de vehículo, sea víctima u acusado. Y este dato ya lo tenemos en las columnas 'victima' y 'acusado'.
lesiones_hechos.drop(columns=['participantes'], inplace=True)
lesiones_hechos.drop(columns=['moto'], inplace=True)
lesiones_hechos.drop(columns=['auto'], inplace=True)
lesiones_hechos.drop(columns=['transporte_publico'], inplace=True)
lesiones_hechos.drop(columns=['camion'], inplace=True)
lesiones_hechos.drop(columns=['ciclista'], inplace=True)

# Convertimos el tipo de dato de la columna 'fecha' a ' datetime64[ns]'
lesiones_hechos['fecha'] = pd.to_datetime(lesiones_hechos['fecha'])

# Reemplazamos los valores 'sd' de la columna 'franja_hora' por valores vacíos, luego, a esos valores vacíos los llenamos con '0' y convertimos los valores a int
lesiones_hechos['franja_hora'].replace('sd', np.nan, inplace=True)
lesiones_hechos['franja_hora'] = pd.to_numeric(lesiones_hechos['franja_hora'])
lesiones_hechos.fillna(0, inplace=True)
lesiones_hechos['franja_hora'] = lesiones_hechos['franja_hora'].astype(int)

lesiones_hechos = lesiones_hechos.rename(columns ={'id': 'ID', 'n_victimas': 'N_VICTIMAS', 'aaaa': 'AAAA', 'mm': 'MM', 'dd': 'DD', 'fecha': 'FECHA', 'hora': 'HORA', 'franja_hora': 'FRANJA_HORA', 'direccion_normalizada': 'DIRECCION_NORMALIZADA', 'comuna': 'COMUNA', 'tipo_calle': 'TIPO_CALLE', 'otra_direccion': 'OTRA_DIRECCION', 'calle': 'CALLE', 'altura': 'ALTURA', 'cruce': 'CRUCE', 'geocodificacion_CABA': 'GEOCODIFICACION', 'longitud': 'LONGITUD', 'latitud': 'LATITUD', 'victima': 'VICTIMA', 'acusado': 'ACUSADO', 'gravedad': 'GRAVEDAD'})


print(lesiones_hechos.dtypes)

ID                               object
N_VICTIMAS                        int64
AAAA                              int64
MM                                int64
DD                                int64
FECHA                    datetime64[ns]
HORA                             object
FRANJA_HORA                       int32
DIRECCION_NORMALIZADA            object
COMUNA                         category
TIPO_CALLE                       object
OTRA_DIRECCION                   object
CALLE                            object
ALTURA                          float64
CRUCE                            object
GEOCODIFICACION                  object
LONGITUD                        float64
LATITUD                         float64
VICTIMA                          object
ACUSADO                          object
GRAVEDAD                         object
dtype: object

In [231]:
# Vemos qué valores pueden asumir algunas columnas
valores_unicos1 = lesiones_hechos['N_VICTIMAS'].dropna().unique()
print(valores_unicos1)
valores_unicos2 = lesiones_hechos['COMUNA'].dropna().unique()
print(valores_unicos2)
valores_unicos3 = lesiones_hechos['VICTIMA'].dropna().unique()
print(valores_unicos3)
valores_unicos4 = lesiones_hechos['ACUSADO'].dropna().unique()
print(valores_unicos4)
valores_unicos5 = lesiones_hechos['GRAVEDAD'].dropna().unique()
print(valores_unicos5)

[ 1  4  2  3  5 10  6 16  8  0  7]
[14, 8, 7, 3, 15, ..., 5, 6, 13, 10, 0]
Length: 16
Categories (16, int32): [0, 1, 2, 3, ..., 12, 13, 14, 15]
['CICLISTA' 'AUTO' 'SD' 'PEATON' 'MOTO' 'TRANSPORTE PUBLICO' 'CAMIONETA'
 'MOVIL' 'OTRO' 'CAMION' 'MONOPATIN' 'UTILITARIO' 'TAXI' 'MIXTO']
['SD' 'AUTO' 'CICLISTA' 'MOVIL' 'CAMIONETA' 'MOTO' 'TAXI'
 'TRANSPORTE PUBLICO' 'CAMION' 'OBJETO FIJO' 'OTRO' 'UTILITARIO' 'PEATON'
 'MONOPATIN']
['SD' 'GRAVE' 'sd' 'FATAL' 'grave']

In [232]:
# Normalizamos algunos valores
lesiones_hechos['GRAVEDAD'].replace('grave', 'GRAVE', inplace=True)
lesiones_hechos.replace('sd', 'SD', inplace=True)

lesiones_hechos = lesiones_hechos.replace('SD', pd.NA)

lesiones_hechos.head()

,ID,N_VICTIMAS,AAAA,MM,DD,FECHA,HORA,FRANJA_HORA,DIRECCION_NORMALIZADA,COMUNA,...,OTRA_DIRECCION,CALLE,ALTURA,CRUCE,GEOCODIFICACION,LONGITUD,LATITUD,VICTIMA,ACUSADO,GRAVEDAD
0,LC-2019-0000179,1,2019,1,1,2019-01-01,09:00:00,9,<NA>,14,...,"Obligado Rafael, Av.Costanera 3300, Barrio: Pa...",0,0.0,0,Point (104991.46333918849995825 107720.9664748...,-58.408911,-34.559658,CICLISTA,<NA>,<NA>
1,LC-2019-0000053,1,2019,1,1,2019-01-01,01:55:00,1,<NA>,8,...,"Autopista Presidente Héctor J. Cámpora y Roca,...",0,0.0,0,Point (101813.84712503915943671 95578.55507230...,-58.443510,-34.669125,AUTO,<NA>,<NA>
2,LC-2019-0000063,1,2019,1,1,2019-01-01,02:00:00,2,<NA>,8,...,"Barros Pazos, Jose y Larraya 0, Barrio: Villa ...",0,0.0,0,Point (99538.58660300650808495 94643.418717990...,-58.468335,-34.677556,<NA>,<NA>,<NA>
3,LC-2019-0000079,1,2019,1,1,2019-01-01,02:30:00,2,<NA>,7,...,"Torres Y Tenorio, Pres. y Riestra Av. 0, Barri...",0,0.0,0,Point (102372.16830963784013875 97994.13750300...,-58.437425,-34.647349,PEATON,<NA>,<NA>
4,LC-2019-0000082,4,2019,1,1,2019-01-01,04:30:00,4,<NA>,3,...,"Corrientes Av. y Uriburu Jose E., Pres. 0, Bar...",0,0.0,0,Point (105968.98286849579017144 102737.1734686...,-58.398225,-34.604579,AUTO,<NA>,<NA>

In [233]:
# Eliminamos las filas con valores NA en las columnas 'VICTIMA' y 'ACUSADO'
lesiones_hechos = lesiones_hechos.dropna(subset=['VICTIMA', 'ACUSADO'])

# Reindexamos
lesiones_hechos.reset_index(drop=True, inplace=True)

In [234]:
lesiones_hechos.head()

,ID,N_VICTIMAS,AAAA,MM,DD,FECHA,HORA,FRANJA_HORA,DIRECCION_NORMALIZADA,COMUNA,...,OTRA_DIRECCION,CALLE,ALTURA,CRUCE,GEOCODIFICACION,LONGITUD,LATITUD,VICTIMA,ACUSADO,GRAVEDAD
0,LC-2020-0002346,1,2020,1,2,2020-01-02,01:00:00 p.m.,13,ALVEAR AV. y AYACUCHO,2,...,<NA>,ALVEAR AV.,0.0,AYACUCHO,Point (106797.883397132 104615.00964936),-58.389203,-34.587646,CICLISTA,AUTO,<NA>
1,LC-2020-0003142,1,2020,1,2,2020-01-02,04:15:00 p.m.,16,CASTELLI 147,3,...,<NA>,CASTELLI,147.0,0,Point (105393.859084365 102333.999776285),-58.404493,-34.608217,CICLISTA,AUTO,<NA>
2,LC-2020-0004057,1,2020,1,3,2020-01-03,03:20:00 a.m.,3,GURRUCHAGA y MUÃ‘ECAS,15,...,<NA>,GURRUCHAGA,0.0,MUÃ‘ECAS,Point (101609.477757533 103183.144235567),-58.445754,-34.600575,CICLISTA,AUTO,<NA>
3,LC-2020-0005389,1,2020,1,3,2020-01-03,01:30:00 p.m.,13,LAS HERAS GENERAL AV. 3453,14,...,<NA>,LAS HERAS GENERAL AV.,3453.0,0,Point (105012.522254721 105185.455369613),-58.408667,-34.582514,MOTO,CICLISTA,<NA>
4,LC-2020-0006408,1,2020,1,3,2020-01-03,09:30:00 p.m.,21,"GANDARA y VICTORICA, BENJAMIN, GENERAL, AV.",15,...,<NA>,GANDARA,0.0,"VICTORICA, BENJAMIN, GENERAL, AV.",Point (98536.5406498828 105187.697470956),-58.479250,-34.582505,CICLISTA,MOVIL,<NA>

### `lesiones_victimas`

In [235]:
lesiones_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27605 entries, 0 to 27604
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID hecho          27605 non-null  object
 1   AAA               27605 non-null  int64
 2   MM                27605 non-null  int64
 3   DD                27605 non-null  int64
 4   FECHA             27605 non-null  datetime64[ns]
 5   VEHICULO_VICTIMA  27605 non-null  object
 6   SEXO              27605 non-null  object
 7   EDAD_VICTIMA      27605 non-null  object
 8   GRAVEDAD          27605 non-null  object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.9+ MB

In [236]:
valores_unicos1 = lesiones_victimas['VEHICULO_VICTIMA'].dropna().unique()
print(valores_unicos1)
valores_unicos2 = lesiones_victimas['SEXO'].dropna().unique()
print(valores_unicos2)
valores_unicos3 = lesiones_victimas['GRAVEDAD'].dropna().unique()
print(valores_unicos3)

['sd' 'MOTO' 'AUTO' 'TAXI' 'PEATON' 'CICLISTA' 'SD' 'TRANSPORTE PUBLICO'
 'MOVIL' 'CAMION' 'UTILITARIO' 'MONOPATIN' 'MIXTO' 'OTRO']
['Varon' 'SD' 'Mujer' 'varon' 'mujer' 'MUJER' 'sd' 'Mujer ']
['SD' 'sd' 'GRAVE' 'grave']

In [237]:
# Cambiamos el nombre a la columna 'SEXO'
lesiones_victimas = lesiones_victimas.rename(columns = { 'SEXO': 'SEXO_VICTIMA'})

# Normalizamos algunos valores
lesiones_victimas['GRAVEDAD'].replace('grave', 'GRAVE', inplace=True)
lesiones_victimas.replace('sd', 'SD', inplace=True)
lesiones_victimas = lesiones_victimas.replace('SD', pd.NA)

# Reemplazamos los valores 'SD' por valores vacíos
lesiones_victimas['EDAD_VICTIMA'].replace('SD', np.nan, inplace=True)

# Convertimos las edades a formato numérico
lesiones_victimas['EDAD_VICTIMA'] = pd.to_numeric(lesiones_victimas['EDAD_VICTIMA'])

In [238]:
lesiones_victimas.head()

,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,GRAVEDAD
0,LC-2019-0000053,2019,1,1,2019-01-01,<NA>,Varon,57.0,<NA>
1,LC-2019-0000063,2019,1,1,2019-01-01,<NA>,<NA>,NaN,<NA>
2,LC-2019-0000079,2019,1,1,2019-01-01,<NA>,Varon,NaN,<NA>
3,LC-2019-0000082,2019,1,1,2019-01-01,<NA>,Varon,45.0,<NA>
4,LC-2019-0000082,2019,1,1,2019-01-01,<NA>,Mujer,45.0,<NA>

## **Merge**

In [239]:
# Creamos un nuevo dataframe donde mergeamos los DataFrames 'homicidios_hechos' y 'homicidios_victimas' a través del ID del hecho
homicidios_merge = pd.merge(homicidios_hechos, homicidios_victimas, left_on='ID', right_on='ID_hecho', how='inner')

# Renombramos algunas columnas que cambiaron su nombre por el Merge
homicidios_merge = homicidios_merge.rename(columns ={'FECHA_x': 'FECHA', 'AAAA_x': 'AAAA', 'MM_x': 'MM', 'DD_x': 'DD', 'VICTIMA_x': 'VICTIMA'}) 

# Eliminamos columnas duplicadas e innecesarias
homicidios_merge.drop(columns=['ID_hecho'], inplace=True)
homicidios_merge.drop(columns=['FECHA_y'], inplace=True)
homicidios_merge.drop(columns=['AAAA_y'], inplace=True)
homicidios_merge.drop(columns=['MM_y'], inplace=True)
homicidios_merge.drop(columns=['DD_y'], inplace=True)
homicidios_merge.drop(columns=['VICTIMA_y'], inplace=True)

homicidios_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     704 non-null    object
 1   N_VICTIMAS             704 non-null    int64
 2   FECHA                  704 non-null    datetime64[ns]
 3   AAAA                   704 non-null    int64
 4   MM                     704 non-null    int64
 5   DD                     704 non-null    int64
 6   HORA                   703 non-null    object
 7   HH                     703 non-null    object
 8   LUGAR_DEL_HECHO        704 non-null    object
 9   TIPO_DE_CALLE          704 non-null    object
 10  CALLE                  704 non-null    object
 11  ALTURA                 133 non-null    float64
 12  CRUCE                  540 non-null    object
 13  DIRECCION_NORMALIZADA  704 non-null    object
 14  COMUNA                 704 non-null    category
 15  LONGITUD               704 non-null    float64
 16  LATITUD                704 non-null    float64
 17  VICTIMA                696 non-null    object
 18  ACUSADO                684 non-null    object
 19  ROL_VICTIMA            695 non-null    object
 20  SEXO_VICTIMA           702 non-null    object
 21  EDAD_VICTIMA           656 non-null    float64
 22  FECHA_FALLECIMIENTO    640 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](2), float64(4), int64(4), object(12)
memory usage: 122.5+ KB

In [240]:
homicidios_merge.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,DIRECCION_NORMALIZADA,COMUNA,LONGITUD,LATITUD,VICTIMA,ACUSADO,ROL_VICTIMA,SEXO_VICTIMA,EDAD_VICTIMA,FECHA_FALLECIMIENTO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,-58.475340,-34.687570,MOTO,AUTO,CONDUCTOR,MASCULINO,19.0,2016-01-01
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,-58.508775,-34.669777,AUTO,PASAJEROS,CONDUCTOR,MASCULINO,70.0,2016-01-02
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,ENTRE RIOS AV. 2034,1,-58.390403,-34.631894,MOTO,AUTO,CONDUCTOR,MASCULINO,30.0,2016-01-03
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,-58.465039,-34.680930,MOTO,<NA>,CONDUCTOR,MASCULINO,18.0,NaT
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,-58.387183,-34.622466,MOTO,PASAJEROS,CONDUCTOR,MASCULINO,29.0,2016-02-01

In [241]:
# Creamos un nuevo dataframe donde mergeamos los DataFrames 'lesiones_hechos' y 'lesiones_victimas' a través del ID del hecho
lesiones_merge = pd.merge(lesiones_hechos, lesiones_victimas, left_on='ID', right_on='ID hecho', how='inner')

# Renombramos algunas columnas que cambiaron su nombre por el Merge
lesiones_merge = lesiones_merge.rename(columns ={'MM_x': 'MM', 'DD_x': 'DD', 'GRAVEDAD_x': 'GRAVEDAD'}) 

# Eliminamos columnas duplicadas e innecesarias
lesiones_merge.drop(columns=['ID hecho'], inplace=True)
lesiones_merge.drop(columns=['AAA'], inplace=True)
lesiones_merge.drop(columns=['MM_y'], inplace=True)
lesiones_merge.drop(columns=['DD_y'], inplace=True)
lesiones_merge.drop(columns=['GEOCODIFICACION'], inplace=True)
lesiones_merge.drop(columns=['OTRA_DIRECCION'], inplace=True)
lesiones_merge.drop(columns=['GRAVEDAD_y'], inplace=True)
lesiones_merge.drop(columns=['VEHICULO_VICTIMA'], inplace=True)
lesiones_merge.drop(columns=['FECHA '], inplace=True)

lesiones_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9467 entries, 0 to 9466
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     9467 non-null   object
 1   N_VICTIMAS             9467 non-null   int64
 2   AAAA                   9467 non-null   int64
 3   MM                     9467 non-null   int64
 4   DD                     9467 non-null   int64
 5   FECHA                  9467 non-null   datetime64[ns]
 6   HORA                   9462 non-null   object
 7   FRANJA_HORA            9467 non-null   int32
 8   DIRECCION_NORMALIZADA  8894 non-null   object
 9   COMUNA                 9467 non-null   category
 10  TIPO_CALLE             8834 non-null   object
 11  CALLE                  9467 non-null   object
 12  ALTURA                 9467 non-null   float64
 13  CRUCE                  9467 non-null   object
 14  LONGITUD               9467 non-null   float64
 15  LATITUD                9467 non-null   float64
 16  VICTIMA                9467 non-null   object
 17  ACUSADO                9467 non-null   object
 18  GRAVEDAD               455 non-null    object
 19  SEXO_VICTIMA           8592 non-null   object
 20  EDAD_VICTIMA           8367 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(4), int32(1), int64(4), object(10)
memory usage: 1.4+ MB

In [242]:
lesiones_merge.head()

,ID,N_VICTIMAS,AAAA,MM,DD,FECHA,HORA,FRANJA_HORA,DIRECCION_NORMALIZADA,COMUNA,...,CALLE,ALTURA,CRUCE,LONGITUD,LATITUD,VICTIMA,ACUSADO,GRAVEDAD,SEXO_VICTIMA,EDAD_VICTIMA
0,LC-2020-0002346,1,2020,1,2,2020-01-02,01:00:00 p.m.,13,ALVEAR AV. y AYACUCHO,2,...,ALVEAR AV.,0.0,AYACUCHO,-58.389203,-34.587646,CICLISTA,AUTO,<NA>,Varon,67.0
1,LC-2020-0003142,1,2020,1,2,2020-01-02,04:15:00 p.m.,16,CASTELLI 147,3,...,CASTELLI,147.0,0,-58.404493,-34.608217,CICLISTA,AUTO,<NA>,Varon,33.0
2,LC-2020-0004057,1,2020,1,3,2020-01-03,03:20:00 a.m.,3,GURRUCHAGA y MUÃ‘ECAS,15,...,GURRUCHAGA,0.0,MUÃ‘ECAS,-58.445754,-34.600575,CICLISTA,AUTO,<NA>,Varon,22.0
3,LC-2020-0005389,1,2020,1,3,2020-01-03,01:30:00 p.m.,13,LAS HERAS GENERAL AV. 3453,14,...,LAS HERAS GENERAL AV.,3453.0,0,-58.408667,-34.582514,MOTO,CICLISTA,<NA>,Varon,29.0
4,LC-2020-0006408,1,2020,1,3,2020-01-03,09:30:00 p.m.,21,"GANDARA y VICTORICA, BENJAMIN, GENERAL, AV.",15,...,GANDARA,0.0,"VICTORICA, BENJAMIN, GENERAL, AV.",-58.479250,-34.582505,CICLISTA,MOVIL,<NA>,Varon,36.0